<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form id="loginForm" action="/account/register" method="post">
  <div class="login-form">
    <h1>Register</h1>
    <div class="input-form">
      <label for="account_firstname">First Name</label>
      <input
        type="text"
        name="account_firstname"
        id="account_firstname"
        required
      />
      <label for="account_lastname">Last Name</label>
      <input
        type="text"
        name="account_lastname"
        id="account_lastname"
        required
      />
      <label for="account_email">Email</label>
      <input
        type="email"
        name="account_email"
        id="account_email"
        required
        placeholder="Enter a valid email address"
      />
      <label for="account_password">Password</label>
      <span
        >passwords must be at least 12 characters and contain at least 1 number,
        1 capital letter and 1 special character</span
      >
      <input
        type="password"
        name="account_password"
        id="account_password"
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      />
    </div>
    <div class="login-button">
      <button type="submit">Register</button>
    </div>
  </div>
</form>
